@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}

body {
    @apply bg-slate-900 text-white;

    background-image: linear-gradient(rgba(148, 163, 184, .05) .1em, transparent .1em), linear-gradient(90deg, rgba(148, 163, 184, .05) .1em, transparent .1em);
    background-size: 3em 3em;
}

section {
    @apply md:scroll-mt-16;
}

@layer components {
    .section-title {
        @apply w-max font-bold border-b-2 border-slate-400 mb-4 text-lg;
    }
}
