@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    @apply bg-slate-900 text-white;
}

@layer components {
    .section-title {
        @apply w-max font-bold border-b-2 border-slate-400 mb-4 text-lg;
    }
}
